.signup-form .btn-success {
    color: #696763;
    background-color: #f0f0e9;
    border-color: #f0f0e9;
}

.signup-form .btn-danger {
    color: #ffffff;
    background-color: #fe980f;
    border-color: #fe980f;
}

#error_explanation {
	color: #a94442;
}

.submit-sign-up {
	display: inline-block !important;
	margin-right: 20px;
	width: auto !important;
}

.submit-sign-up-face {
	background: #3b5998;
    border: medium none;
    border-radius: 0;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    outline: medium none;
}

.post-meta ul li {
    margin-bottom: 5px;
}

.posts-index-rating, .posts-show-rating {
    float: right;
}

.post-index-title {
    color: #696763;
}

.post-description, .post-content {
    text-align: justify;
}

.post-show-back {
    color: #fff;
    background: #5d5d5b;
    padding: 3px 25px;
    float: right;
    margin-bottom: 20px;
}

.rating-area .ratings {
    height: 27px;
}

.rating-area li.rate-this {
    padding-left: 2px;
}

.border-alert {
    border-color: red !important;
}

.m-b-0 {
    margin-bottom: 0px;
}

.p-l-5 {
    padding-left: 5px;
}

.p-r-5 {
    padding-right: 5px;
}

.t-justify {
    text-align: justify;
}

.response-area .media {
    padding-right: 0px;
    font-style: italic;
}

.sinlge-post-meta li {
    margin-bottom: 5px;
}

.pgwSlideshow ul {
    padding: 0;
}

.pgwSlideshow,
.pgwSlideshow .ps-list {
    background-color: #fff;
}

.pgwSlideshow ul,
.pgwSlideshow ul li {
    max-height: 100%;
}

.pgwSlideshow img {
    max-height: 446px !important;
    width: 100%;
}

.pgwSlideshow .ps-current {
    max-height: 100% !important;
    height: auto !important;
}

.pgwSlideshow .ps-list {
    box-shadow: 0 5px 5px -5px #333 inset;
}

.pgwSlideshow .ps-list li .ps-item.ps-selected {
    border: 3px solid #b5b5b5 !important; 
}

.pgwSlideshow.narrow .ps-current .ps-next,
.pgwSlideshow.narrow .ps-list .ps-next {
    padding: 8px 6px 8px 8px !important;
}

.pgwSlideshow.narrow .ps-current .ps-prev,
.pgwSlideshow.narrow .ps-list .ps-prev {
    padding: 8px 8px 8px 6px !important;
}

.float-left {
    float: left;
}

.shop-details-tab #descriptions ul li {
   list-style-type: disc;
}

.shop-details-tab #descriptions,
.shop-details-tab #details {
    padding-right: 10px;
    padding-left: 10px;
}

.div-image-container {
    height: 191px;
}

@media only screen and (max-width:768px){
    .posts-index-rating {
        float: left;
    }

    .posts-show-rating {
        float: left;
    }

    .rating-area .tag {
        float: left;
        padding-left: 0;
    }
}