/ .row.top_tiles style=("margin: 10px 0;") 
/   .col-md-3.col-sm-3.col-xs-6.tile
/     span Total Sessions
/     h2 231,809
/     span.sparkline_one style=("height: 160px;") 
/       canvas height="60" style=("display: inline-block; vertical-align: top; width: 94px; height: 30px;") width="200" 
/   .col-md-3.col-sm-3.col-xs-6.tile
/     span Total Revenue
/     h2 $ 231,809
/     span.sparkline_one style=("height: 160px;") 
/       canvas height="60" style=("display: inline-block; vertical-align: top; width: 94px; height: 30px;") width="200" 
/   .col-md-3.col-sm-3.col-xs-6.tile
/     span Total Sessions
/     h2 231,809
/     span.sparkline_two style=("height: 160px;") 
/       canvas height="60" style=("display: inline-block; vertical-align: top; width: 94px; height: 30px;") width="200" 
/   .col-md-3.col-sm-3.col-xs-6.tile
/     span Total Sessions
/     h2 231,809
/     span.sparkline_one style=("height: 160px;") 
/       canvas height="60" style=("display: inline-block; vertical-align: top; width: 94px; height: 30px;") width="200" 
/ br/
/ .row
/   .col-md-12.col-sm-12.col-xs-12
/     .dashboard_graph.x_panel
/       .row.x_title
/         .col-md-6
/           h3
/             | Network Activities
/             small &nbsp;Graph title sub-title
/         .col-md-6
/           #reportrange.pull-right style=("background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc") 
/             i.glyphicon.glyphicon-calendar.fa.fa-calendar
/             span December 30, 2014 - January 28, 2015
/             b.caret
/       .x_content
/         .demo-container style="height:250px" 
/           #placeholder3xx3.demo-placeholder style=("width: 100%; height:250px;") 
/ .row
/   .col-md-4.col-sm-6.col-xs-12
/     .x_panel.fixed_height_320
/       .x_title
/         h2
/           | App Devices
/           small Sessions
/         ul.nav.navbar-right.panel_toolbox
/           li
/             a.collapse-link
/               i.fa.fa-chevron-up
/           li.dropdown
/             a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/               i.fa.fa-wrench
/             ul.dropdown-menu role="menu" 
/               li
/                 a href="#"  Settings 1
/               li
/                 a href="#"  Settings 2
/           li
/             a.close-link
/               i.fa.fa-close
/         .clearfix
/       .x_content
/         h4 App Versions
/         .widget_summary
/           .w_left.w_25
/             span 1.5.2
/           .w_center.w_55
/             .progress
/               .progress-bar.bg-green aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" style=("width: 66%;") 
/                 span.sr-only 60% Complete
/           .w_right.w_20
/             span 123k
/           .clearfix
/         .widget_summary
/           .w_left.w_25
/             span 1.5.3
/           .w_center.w_55
/             .progress
/               .progress-bar.bg-green aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" style=("width: 45%;") 
/                 span.sr-only 60% Complete
/           .w_right.w_20
/             span 53k
/           .clearfix
/         .widget_summary
/           .w_left.w_25
/             span 1.5.4
/           .w_center.w_55
/             .progress
/               .progress-bar.bg-green aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" style=("width: 25%;") 
/                 span.sr-only 60% Complete
/           .w_right.w_20
/             span 23k
/           .clearfix
/         .widget_summary
/           .w_left.w_25
/             span 1.5.5
/           .w_center.w_55
/             .progress
/               .progress-bar.bg-green aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" style=("width: 5%;") 
/                 span.sr-only 60% Complete
/           .w_right.w_20
/             span 3k
/           .clearfix
/         .widget_summary
/           .w_left.w_25
/             span 0.1.5.6
/           .w_center.w_55
/             .progress
/               .progress-bar.bg-green aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" style=("width: 2%;") 
/                 span.sr-only 60% Complete
/           .w_right.w_20
/             span 1k
/           .clearfix
/   .col-md-4.col-sm-6.col-xs-12
/     .x_panel.fixed_height_320
/       .x_title
/         h2
/           | Daily users
/           small Sessions
/         ul.nav.navbar-right.panel_toolbox
/           li
/             a.collapse-link
/               i.fa.fa-chevron-up
/           li.dropdown
/             a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/               i.fa.fa-wrench
/             ul.dropdown-menu role="menu" 
/               li
/                 a href="#"  Settings 1
/               li
/                 a href="#"  Settings 2
/           li
/             a.close-link
/               i.fa.fa-close
/         .clearfix
/       .x_content
/         table style="width:100%" 
/           tr
/             th style="width:37%;" 
/               p Top 5
/             th
/               .col-lg-7.col-md-7.col-sm-7.col-xs-7
/                 p Device
/               .col-lg-5.col-md-5.col-sm-5.col-xs-5
/                 p Progress
/           tr
/             td
/               canvas#canvas1 height="140" style=("margin: 15px 10px 10px 0") width="140" 
/             td
/               table.tile_info
/                 tr
/                   td
/                     p
/                       i.fa.fa-square.blue
/                       | IOS
/                   td 30%
/                 tr
/                   td
/                     p
/                       i.fa.fa-square.green
/                       | Android
/                   td 10%
/                 tr
/                   td
/                     p
/                       i.fa.fa-square.purple
/                       | Blackberry
/                   td 20%
/                 tr
/                   td
/                     p
/                       i.fa.fa-square.aero
/                       | Symbian
/                   td 15%
/                 tr
/                   td
/                     p
/                       i.fa.fa-square.red
/                       | Others
/                   td 30%
/   .col-md-4.col-sm-6.col-xs-12
/     .x_panel.fixed_height_320
/       .x_title
/         h2
/           | Profile Settings
/           small Sessions
/         ul.nav.navbar-right.panel_toolbox
/           li
/             a.collapse-link
/               i.fa.fa-chevron-up
/           li.dropdown
/             a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/               i.fa.fa-wrench
/             ul.dropdown-menu role="menu" 
/               li
/                 a href="#"  Settings 1
/               li
/                 a href="#"  Settings 2
/           li
/             a.close-link
/               i.fa.fa-close
/         .clearfix
/       .x_content
/         .dashboard-widget-content
/           ul.quick-list
/             li
/               i.fa.fa-line-chart
/               a href="#"  Achievements
/             li
/               i.fa.fa-thumbs-up
/               a href="#"  Favorites
/             li
/               i.fa.fa-calendar-o
/               a href="#"  Activities
/             li
/               i.fa.fa-cog
/               a href="#"  Settings
/             li
/               i.fa.fa-area-chart
/               a href="#"  Logout
/           .sidebar-widget
/             h4 Profile Completion
/             canvas#foo height="80" style=("width: 160px; height: 100px;") width="150" 
/             .goal-wrapper
/               span#gauge-text.gauge-value.pull-left 0
/               span.gauge-value.pull-left %
/               span#goal-text.goal-value.pull-right 100%
/   .col-md-4.col-sm-6.col-xs-12.widget_tally_box
/     .x_panel
/       .x_title
/         h2 User Uptake
/         ul.nav.navbar-right.panel_toolbox
/           li
/             a.collapse-link
/               i.fa.fa-chevron-up
/           li.dropdown
/             a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/               i.fa.fa-wrench
/             ul.dropdown-menu role="menu" 
/               li
/                 a href="#"  Settings 1
/               li
/                 a href="#"  Settings 2
/           li
/             a.close-link
/               i.fa.fa-close
/         .clearfix
/       .x_content
/         #graph_bar style=("width:100%; height:200px;") 
/         .col-xs-12.bg-white.progress_summary
/           .row
/             .progress_title
/               span.left Escudor Wireless 1.0
/               span.right This sis
/               .clearfix
/             .col-xs-2
/               span SSD
/             .col-xs-8
/               .progress.progress_sm
/                 .progress-bar.bg-green data-transitiongoal="89" role="progressbar" 
/             .col-xs-2.more_info
/               span 89%
/           .row
/             .progress_title
/               span.left Mobile Access
/               span.right Smart Phone
/               .clearfix
/             .col-xs-2
/               span App
/             .col-xs-8
/               .progress.progress_sm
/                 .progress-bar.bg-green data-transitiongoal="79" role="progressbar" 
/             .col-xs-2.more_info
/               span 79%
/           .row
/             .progress_title
/               span.left WAN access users
/               span.right Total 69%
/               .clearfix
/             .col-xs-2
/               span Usr
/             .col-xs-8
/               .progress.progress_sm
/                 .progress-bar.bg-green data-transitiongoal="69" role="progressbar" 
/             .col-xs-2.more_info
/               span 69%
/   .col-md-4.col-sm-6.col-xs-12
/     .x_panel
/       .x_title
/         h2
/           | Today's Weather
/           small Sessions
/         ul.nav.navbar-right.panel_toolbox
/           li
/             a.collapse-link
/               i.fa.fa-chevron-up
/           li.dropdown
/             a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/               i.fa.fa-wrench
/             ul.dropdown-menu role="menu" 
/               li
/                 a href="#"  Settings 1
/               li
/                 a href="#"  Settings 2
/           li
/             a.close-link
/               i.fa.fa-close
/         .clearfix
/       .x_content
/         .row
/           .col-sm-12
/             .temperature
/               b> Monday
/               | , 07:30 AM
/               span F
/               span
/                 b C
/         .row
/           .col-sm-4
/             .weather-icon
/               span
/                 canvas#partly-cloudy-day height="84" width="84" 
/           .col-sm-8
/             .weather-text
/               h2
/                 | Texas
/                 br/
/                 i Partly Cloudy Day
/         .col-sm-12
/           .weather-text.pull-right
/             h3.degrees 23
/         .clearfix
/         .row.weather-days
/           .col-sm-2
/             .daily-weather
/               h2.day Mon
/               h3.degrees 25
/               span
/                 canvas#clear-day height="32" width="32" 
/               h5
/                 | 15
/                 i km/h
/           .col-sm-2
/             .daily-weather
/               h2.day Tue
/               h3.degrees 25
/               canvas#rain height="32" width="32" 
/               h5
/                 | 12
/                 i km/h
/           .col-sm-2
/             .daily-weather
/               h2.day Wed
/               h3.degrees 27
/               canvas#snow height="32" width="32" 
/               h5
/                 | 14
/                 i km/h
/           .col-sm-2
/             .daily-weather
/               h2.day Thu
/               h3.degrees 28
/               canvas#sleet height="32" width="32" 
/               h5
/                 | 15
/                 i km/h
/           .col-sm-2
/             .daily-weather
/               h2.day Fri
/               h3.degrees 28
/               canvas#wind height="32" width="32" 
/               h5
/                 | 11
/                 i km/h
/           .col-sm-2
/             .daily-weather
/               h2.day Sat
/               h3.degrees 26
/               canvas#cloudy height="32" width="32" 
/               h5
/                 | 10
/                 i km/h
/           .clearfix
/   .col-md-4.col-sm-6.col-xs-12
/     .x_panel.fixed_height_320
/       .x_title
/         h2
/           | Incomes
/           small Sessions
/         ul.nav.navbar-right.panel_toolbox
/           li
/             a.collapse-link
/               i.fa.fa-chevron-up
/           li.dropdown
/             a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/               i.fa.fa-wrench
/             ul.dropdown-menu role="menu" 
/               li
/                 a href="#"  Settings 1
/               li
/                 a href="#"  Settings 2
/           li
/             a.close-link
/               i.fa.fa-close
/         .clearfix
/       .x_content
/         .dashboard-widget-content
/           ul.quick-list
/             li
/               i.fa.fa-bars
/               a href="#"  Subscription
/             li
/               i.fa.fa-bar-chart
/               a href="#"  Auto Renewal
/             li
/               i.fa.fa-support
/               a href="#"  Help Desk
/             li
/               i.fa.fa-heart
/               a href="#"  Donations
/           .sidebar-widget
/             h4 Goal
/             canvas#foo2 height="80" style=("width: 160px; height: 100px;") width="150" 
/             .goal-wrapper
/               span.gauge-value.pull-left $
/               span#gauge-text2.gauge-value.pull-left 3,200
/               span#goal-text2.goal-value.pull-right $5,000